<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
		<param-value>zh_TW</param-value>
	</context-param>
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>MS950</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>ResponseHeaderFilter</filter-name>
		<display-name>ResponseHeaderFilter</display-name>
		<filter-class>com.kangdainfo.ast.filters.ResponseHeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>private,no-cache,no-store</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>SecurityFilter</filter-name>
		<display-name>SecurityFilter</display-name>
		<filter-class>com.kangdainfo.ast.security.filters.SecurityFilter</filter-class>
		<init-param>
			<param-name>enabled</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<servlet-name>action</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResponseHeaderFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<servlet-name>action</servlet-name>
	</filter-mapping>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
			<init-param>
				<param-name>default</param-name>
				<param-value>resources/default.properties</param-value>
			</init-param>
			<init-param>
				<param-name>config</param-name>
				<param-value>/WEB-INF/struts-config.xml</param-value>
			</init-param>
			<init-param>
				<param-name>debug</param-name>
				<param-value>2</param-value>
			</init-param>
			<init-param>
				<param-name>detail</param-name>
				<param-value>2</param-value>
			</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
            <servlet-name>Hibernate</servlet-name>
            <servlet-class>gov.dnt.tame.sys.HibernateServlet</servlet-class>
            <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
            <servlet-name>ExcelReport</servlet-name>
            <servlet-class>gov.dnt.tame.sys.ExcelReportServlet</servlet-class>
            <load-on-startup>1</load-on-startup>
	</servlet>	
	<servlet>
            <servlet-name>MenuLoader</servlet-name>
            <servlet-class>gov.dnt.tame.sys.MenuLoaderServlet</servlet-class>
            <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
            <servlet-name>QuartzServlet</servlet-name>
            <servlet-class>tw.gov.nta.schedule.sys.QuartzServlet</servlet-class>
            <load-on-startup>1</load-on-startup>
    </servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>/do/*</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/vnd.ms-excel</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<taglib>
		<taglib-uri>/tags/struts-bean</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-html</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-logic</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-logic.tld</taglib-location>
	</taglib>
    <taglib>
      	<taglib-uri>/tags/struts-bean-el</taglib-uri>
      	<taglib-location>/WEB-INF/taglibs/struts-bean-el.tld</taglib-location>
    </taglib>
    <taglib>
      	<taglib-uri>/tags/struts-html-el</taglib-uri>
      	<taglib-location>/WEB-INF/taglibs/struts-html-el.tld</taglib-location>
    </taglib>
    <taglib>
      	<taglib-uri>/tags/struts-logic-el</taglib-uri>
      	<taglib-location>/WEB-INF/taglibs/struts-logic-el.tld</taglib-location>
    </taglib>
	<taglib>
		<taglib-uri>/tags/struts-nested</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-tiles</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-tiles.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-template</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-template.tld</taglib-location>
	</taglib>
    <taglib>
        <taglib-uri>/tags/displaytag-el</taglib-uri>
        <taglib-location>/WEB-INF/taglibs/displaytag-el-12.tld</taglib-location>
    </taglib>
	<taglib>
		<taglib-uri>/tags/displaytag</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/displaytag-12.tld</taglib-location>
	</taglib>
    <taglib>
        <taglib-uri>/tags/jstl-c</taglib-uri>
        <taglib-location>/WEB-INF/taglibs/c.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/tags/jstl-fmt</taglib-uri>
        <taglib-location>/WEB-INF/taglibs/fmt.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/tags/jstl-x</taglib-uri>
        <taglib-location>/WEB-INF/taglibs/x.tld</taglib-location>
    </taglib>

	<resource-ref>
		<description>SQL Database</description>
		<res-ref-name>jdbc/DEBT</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>