.formcss { border-left:1px solid solid; border-right:1px solid solid; border-top:1px solid #003399; border-bottom:1px solid #003399; font-family: "Verdana"; font-size: 12px; color: #FFFFFF; background-color: #3F7DCA; } 
.general_text { font-family: "Verdana"; font-size: 16px; color: #993300; text-decoration: none}
.item { font-family: "Verdana"; font-size: 16px; color: #663399; text-decoration: none} 
:hover.item { font-family: "Verdana"; font-size: 16px; color: #993300; text-decoration: none; font-weight: bold} 
.itemMenu { font-family: "Verdana"; font-size: 15px; color: #663399; text-decoration: none} 
:hover.itemMenu { font-family: "Verdana"; font-size: 15px; color: #663399; text-decoration: none;} 
.table_1_1
{
    BORDER-RIGHT: #dddddd 1px dashed;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #dddddd 1px dashed;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #dddddd 1px dashed;
    WIDTH: 90%;
	FONT-SIZE: 12px;
	FONT-FAMILY: "Verdana";
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #dddddd 1px dashed;
 }
.table_1 {  font-family: "Verdana"; font-size: 16px; color: #000000; border:1px none; cellspacing:1; cellpadding:0; align:center; width:98%; bordercolor:#003399}
.table2 {  font-family: "Verdana"; font-size: 16px; border:1px solid #ECF6FD ;width:575; border-top-style:solid; border-right-style:solid; border-bottom-style:solid; border-left-style:solid; border-top-color:#ECF6FD; border-right-color:#ECF6FD; border-bottom-color:#ECF6FD; border-left-color:#ECF6FD; cellspacing:1 ;cellpadding:1}
.table1 {  font-family: "Verdana"; font-size: 16px; color:"#000080"; border:1px none #ECF6FD; align:center; width:575px; border-top-color:#ECF6FD; border-right-color:#ECF6FD; border-bottom-color:#ECF6FD; border-left-color:#ECF6FD; border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none}
.table_2 {  width: 98%; font-family: "Verdana"; font-size: 16px; color: #333333; border: 2px #004080 solid}
.table_3 {  width: 100%; font-family: "Verdana"; font-size: 16px; color: #333333; border: 3px #FF0000 solid}
.title {  font-family: "Verdana"; font-size: 16px; font-weight: bold; color: #003399; text-align: center;}
.total {  font-family: "Verdana"; font-size: 16px; font-weight: bold; color: #FF0066; text-align: left}
.table_item_1
{  
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    COLOR: #FFFFFF;
//    LINE-HEIGHT: 180%;
    PADDING-TOP: 5px;
    FONT-FAMILY: "Verdana";
    BACKGROUND-COLOR: #00357A;
    TEXT-DECORATION: none;
    TEXT-ALIGN: center;
    WIDTH: 15%;
}
.table_item {  font-family: "Verdana"; font-size: 16px; font-weight: bold; color: #366195; clip:    rect(   ); background-color: #ECF6FD; width=15%}
.table_item_nf {  border-color: #000080; font-family: "Verdana"; font-size: 16px; font-weight: bold; color: #366195; clip:    rect(   ); background-color: #ECF6FD;}
.table_function {  font-family: "Verdana"; font-size: 16px; font-weight: bold; color: #333333; clip:    rect(   ); background-color: #ECF6FD}
.table_function1 {  font-family: "Verdana"; font-size: 16px; font-weight: bold; color: #333333; clip:    rect(   ); background-color: #ECF6FD}
.table_item_top {  font-family: "Verdana"; font-size: 16px; font-weight: bold; color: #990000; clip:    rect(   ); background-color: #EBE1FA; height:25}
.text_link {  font-family: "Verdana"; font-size: 16px; color: #663399; text-decoration: none}
:hover.text_link { font-family: "Verdana"; font-size: 16px; color: #993300; text-decoration: none }
.table_td_1 
{ 
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: 1px;
    COLOR: #333333;
//    LINE-HEIGHT: 180%;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
.table_td { font-family: "Verdana"; font-size: 16px; color: #333333; border-color: #ECF6FD; clip: rect( ); border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.table_td_r { font-family: "Verdana"; font-size: 16px; color: #333333; border-color: #FFFFFF #FFFFFF #CCCCCC; clip: rect( ); border-style: dotted; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ; background-color: #FFE1FF}
.table_td_b { font-family: "Verdana"; font-size: 16px; color: #333333; border-color: #FFFFFF #FFFFFF #CCCCCC; clip: rect( ); border-style: dotted; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ; background-color: #CCFFFF}
.table_td1 { font-family: "Verdana"; font-size: 16px; color: #333333; border-color: #FFFFFF #FFFFFF #CCCCCC; clip: rect( ); border-style: dotted; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ; background-color: #eeeeee}
.list_tr { clip: rect( ); }
.list_tr1 { BACKGROUND-COLOR: #D2EBFA}
.doc_no { font-family: "Verdana"; font-size: 16px; color: #663399; text-decoration: none} 
:hover.doc_no { font-family: "Verdana"; font-size: 16px; color: #993300; text-decoration: none} 
.behindtime { font-weight: bold; color: #ff0000}
.neartime { font-weight: bold; color: #cccc00}
.chktext      { color: #000000; background-color: #ffffff;  text-decoration: none; font-size: 12pt; vertical-align: middle; border: 1px solid #ffffff }
body{ scrollbar-face-color:#FFFFFF; scrollbar-shadow-color:#6096D9; scrollbar-highlight-color:#FFFFFF; scrollbar-3dlight-color:#3261BF; scrollbar-darkshadow-color:#6096D9;scrollbar-track-color:#DDEBFB; scrollbar-arrow-color:#000000;}
.odtext        { font-size: 16px; background-color: #eeeeee; border: #CC7003; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; font-family: "Verdana"}
.odtextNone    { border-left:1px solid solid; border-right:1px solid solid; border-top:1px solid #330099; border-bottom:1px solid #330099; font-size: 16px; background-color: #eeeeee; font-family: "Verdana"; }
.odtextNone_1    { font-size: 16px; background-color: #FFE6E6; border: 1px solid #CC7003; font-family:Verdana; border-top-width:1px; border-right-width:1px; border-bottom-width:1px; border-left-width:1px}
.odtextMuQuery { font-size: 16px; background-color: #eeeeee; border: #CC7003; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; font-family: "Verdana"}
.odtextMustKey { font-size: 16px; background-color: #eeeeee; border: 1px #330099 solid; font-family: "Verdana"}
.odb1          { font-size: 16px; background-color: #D2DDFF; border: 1px #CC7003 solid; font-family: "Verdana" }
.odtextQuery   { font-size: 16px; background-color: #eeeeee; border: 1px #330099 solid; font-family: "Verdana"}
.odtextDisplay { font-size: 16px; background-color: #eeeeee; border: 1px #330099 solid; font-family: "Verdana"}
.border_line {    BACKGROUND-COLOR: #6699FF;}
.dark_textcss {    COLOR: #333333; LINE-HEIGHT: 180%; FONT-FAMILY: "Verdana"; TEXT-DECORATION: none;}
:hover.dark_textcss{    COLOR: red; LINE-HEIGHT: 180%; FONT-FAMILY: "Verdana"; TEXT-DECORATION: none;}
.col_1{    BORDER-RIGHT: 1px;    BORDER-TOP: 1px dotted;    PADDING-BOTTOM: 5px;    BORDER-LEFT: 1px;    PADDING-TOP: 5px;    BORDER-BOTTOM: 1px;    FONT-FAMILY: "Verdana"}
.col_1a{    BORDER-RIGHT: 1px;    BORDER-TOP: 1px dotted;    PADDING-BOTTOM: 5px;    BORDER-LEFT: 1px;    PADDING-TOP: 5px;    BORDER-BOTTOM: 1px;    FONT-FAMILY: "Verdana"; background-color: #E6EEF8}
.col_9{    BORDER-BOTTOM: 1px;    BORDER-TOP: 1px dotted;    BORDER-LEFT: 1px dotted;    BORDER-RIGHT: 1px dotted;    PADDING-TOP: 3px;    PADDING-BOTTOM: 3px;    PADDING-LEFT: 5px;    PADDING-RIGHT: 5px;    FONT-FAMILY: "Verdana";	FONT-SIZE: 12px;}
.function_title1{    FONT-SIZE: 12px;    COLOR: #cc3300;    LINE-HEIGHT: 180%;    FONT-FAMILY: "Verdana";    TEXT-DECORATION: none}
:hover.function_title1{    FONT-SIZE: 12px;    COLOR: black;    LINE-HEIGHT: 180%;    FONT-FAMILY: "Verdana";    TEXT-DECORATION: none}
.function_title3{    FONT-WEIGHT: bold;    FONT-SIZE: 24px;    COLOR: #003399;    LINE-HEIGHT: 180%;    FONT-FAMILY: "Verdana";    TEXT-DECORATION: none}
:hover.function_title3{    FONT-WEIGHT: bold;    FONT-SIZE: 24px;    COLOR: #FF0000;    LINE-HEIGHT: 180%;    FONT-FAMILY: "Verdana";    TEXT-DECORATION: none}
.table_width1{    BORDER-RIGHT: 0px;    BORDER-TOP: 0px;    FONT-SIZE: 12px;    BORDER-LEFT: 0px;    WIDTH: 93%;    LINE-HEIGHT: 180%;    BORDER-BOTTOM: 0px}
.general_text{    FONT-SIZE: 12px;    COLOR: #333333;    LINE-HEIGHT: 180%;    FONT-FAMILY: "Verdana";    TEXT-DECORATION: none}
:hover.general_text{    FONT-SIZE: 12px;    COLOR: #ff0000;    LINE-HEIGHT: 180%;    FONT-FAMILY: "Verdana";    TEXT-DECORATION: none}
.menu_link{    FONT-SIZE: 12px;    COLOR: #003399;    LINE-HEIGHT: 180%;    FONT-FAMILY: "Verdana";    TEXT-DECORATION: none}
.formcss_rbutton { BORDER-RIGHT: #003399 1px solid; BORDER-TOP: #003399 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #003399 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #003399 1px solid; FONT-FAMILY: "Verdana"; BACKGROUND-COLOR: #3F7DCA}
.formcss_rbutton2 { BORDER-RIGHT: #003399 1px solid; BORDER-TOP: #003399 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #003399 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #003399 1px solid; FONT-FAMILY: "Verdana"; BACKGROUND-COLOR: #FF9B9B}
.formcss_rbutton3 { BORDER-RIGHT: #003399 1px solid; BORDER-TOP: #003399 1px solid; FONT: BOLD; font-size: 16px; BORDER-LEFT: #003399 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #003399 1px solid; FONT-FAMILY: "Verdana"; BACKGROUND-COLOR: #3F7DCA}
.formcss_redbutton { BORDER-RIGHT: #003399 1px solid; BORDER-TOP: #003399 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #003399 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #003399 1px solid; FONT-FAMILY: "Verdana"; BACKGROUND-COLOR: #CA7DCA}
.function_menu1{    FONT-SIZE: 16px;    COLOR: black;    LINE-HEIGHT: 180%;    FONT-FAMILY: "標楷體";    TEXT-DECORATION: none}
:hover.function_menu1{    FONT-SIZE: 16px;    COLOR: #cc3300;    LINE-HEIGHT: 180%;    FONT-FAMILY: "標楷體";    TEXT-DECORATION: none}

.td { font-size: 12px; background-color: #E1ECFB;}
.td1 { font-size: 12px; background-color: #F5FAFE;}
.text_red {  font-family: "Verdana"; color: #CC0000; font-size: 12px; font-weight: bold}
.text_blue { font-family: "Verdana"; color: #003399; font-size: 14px; font-weight: bold }
.text_black {  font-family: "Verdana"; color: #000000; font-size: 11px}

.noborder { BORDER-RIGHT: #FFFFFF 1px solid; BORDER-TOP: #FFFFFF 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #FFFFFF 1px solid; COLOR: #00000; BORDER-BOTTOM: #FFFFFF 1px solid; FONT-FAMILY: "Verdana"; BACKGROUND-COLOR: #FFFFFF}

table.table_list
{
    border-width:0px;
    width:100%;
    border:0;
}

table.table_list th
{
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}

table.table_list td
{
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
}

table.table_list thead tr
{
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    COLOR: #FFFFFF;
    LINE-HEIGHT: 180%;
    PADDING-TOP: 5px;
    FONT-FAMILY: "Verdana";
    BACKGROUND-COLOR: #00357A;
    TEXT-DECORATION: none;
    TEXT-ALIGN: center;
}

table.table_list tbody tr.odd td
{
    font-family:"Verdana";
    font-size: 16px;
    color:#333333;
	background-color: #ffffff;
	border-color: #FFFFFF #FFEED3 #6699CC;
    clip: rect();
    border-style:none;
	text-align:left;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	border-width:1px;
}

table.table_list tbody tr.even td
{
    font-family:"Verdana";
    font-size: 16px;
    color:#333333;
	background-color:#eeeeee;
	border-color: #FFFFFF #FFEED3 #6699CC;
    clip: rect();
    border-style:none;
	text-align:left;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	border-width:1px;
}

table.table_list tbody tr.append td
{
    font-family:"Verdana";
    font-size: 16px;
    color:#333333;
	background-color:#ffffff;
	border-color: #FFFFFF #FFEED3 #6699CC;
    clip: rect();
    border-style:none;
	text-align:left;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	border-width:1px;
}

table.table_list tr.odd
{
	background-color: #ECF6FD;
}

table.table_list tbody tr.odd td a:link, table.table_list tbody tr.even td a:link
{
	color:#0000ff;
	background:#ffffff
}

#content 
{
	border: 1px solid #3F7DCA;
	border-top: none;
	padding: 5px 5px 5px 5px;
}

#content h1 
{
	font-size: 1.2em;
	color: #3F7DCA;
	background-color: transparent;
}

ul#tabnav 
{
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
	padding-bottom: 26px;
	border-bottom: 1px solid #3F7DCA;
	font: bold 13px verdana, arial, sans-serif;
}

ul#tabnav li 
{
	float: left;
	height: 20px;
	background-color: #3F7DCA;
	color: #FFFFFF;
	margin: 2px 2px 0px 2px;
	border: 1px solid #3F7DCA;
}

ul#tabnav a:link, ul#tabnav a:visited 
{
	display: block;
	color: #FFFFFF;
	background-color: transparent;
	text-decoration: none;
	padding: 4px;
}

ul#tabnav a:hover 
{
	background-color: #F4869C;
	color: #FFFFFF;
}

h3#TAB_1 li.TAB_1, h3#TAB_2 li.TAB_2, h3#TAB_2 li.TAB_2, h3#TAB_2 li.TAB_2 
{
	border-bottom: 1px solid #fff;
	color: #000000;
	background-color: #FFFFFF;
}

h3#TAB_1 li.TAB_1 a:link, h3#TAB_1 li.TAB_1 a:visited,
h3#TAB_2 li.TAB_2 a:link, h3#TAB_2 li.TAB_2 a:visited,
h3#TAB_2 li.TAB_2 a:link, h3#TAB_2 li.TAB_2 a:visited,
h3#buy li.TAB_2 a:link, h3#TAB_2 li.buy a:visited 
{
	color: #000000;
	background-color: #FFFFFF;
}


table.table_list2
{
    border-width:0px;
    width:100%;
    border:0;
}

table.table_list2 th
{
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}

table.table_list2 td
{
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
}

table.table_list2 thead tr
{
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    COLOR: #FFFFFF;
    LINE-HEIGHT: 180%;
    PADDING-TOP: 5px;
    FONT-FAMILY: "Verdana";
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none;
    TEXT-ALIGN: center;
}

table.table_list2 tbody tr.odd td
{
    font-family:"Verdana";
    font-size: 16px;
    color:#333333;
	background-color: #ffffff;
	border-color: #FFFFFF #FFEED3 #6699CC;
    clip: rect();
    border-style:none;
	text-align:left;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	border-width:1px;
}

table.table_list2 tbody tr.even td
{
    font-family:"Verdana";
    font-size: 16px;
    color:#333333;
	background-color:#eeeeee;
	border-color: #FFFFFF #FFEED3 #6699CC;
    clip: rect();
    border-style:none;
	text-align:left;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	border-width:1px;
}

table.table_list2 tbody tr.append td
{
    font-family:"Verdana";
    font-size: 16px;
    color:#333333;
	background-color:#ffffff;
	border-color: #FFFFFF #FFEED3 #6699CC;
    clip: rect();
    border-style:none;
	text-align:left;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	border-width:1px;
}

table.table_list2 tr.odd
{
  background-color: #ECF6FD;
}

table.table_list2 tbody tr.odd td a:link, table.table_list2 tbody tr.even td a:link
{
	color:#0000ff;
	background:#ffffff
}